body {
    margin: 50px;
}

h1 {
    font-size: 30px;
    display: inline-block;
    margin: 0;
    font-family: sans-serif;
}

ul {
    display: inline-block;
    margin-left: 50px;
}

ul li {
    display: inline-block;
    padding-left: 20px;
}

ul li a {
    text-decoration: none;
    color: green;
}

hr {
    height: 1px;
    color: black;
    background-color: grey;  
}